* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
  @media screen and (min-width: 764px) {
    overflow-x: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
